<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511453650235-9jtht4929viiurb80d9uvm0lb7q6ejsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511453650235-9jtht4929viiurb80d9uvm0lb7q6ejsi</string>
	<key>API_KEY</key>
	<string>AIzaSyBobOUS0iP9OT77kviGVPA8uhgTDSM_3O4</string>
	<key>GCM_SENDER_ID</key>
	<string>511453650235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Team.Smeem-iOS</string>
	<key>PROJECT_ID</key>
	<string>smeem-303d1</string>
	<key>STORAGE_BUCKET</key>
	<string>smeem-303d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511453650235:ios:c5eb3acf65e2226903ab1e</string>
</dict>
</plist>